.loginsignup {
  width: 100%;
  height: 80vh;
  background: white;
  padding-top: 100px;
}
.loginsignup-container {
  width: 580px;
  height: 600px;
  background-color: #161616;
  margin: auto;
  padding: 40px 60px;
  color: white;
  border-radius: 25px;
}
.loginsignup-container h1 {
  margin: 20px 0px;
}
.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}
.loginsignup-fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #161616;
  outline: none;
  color: #161616;
  font-size: 18px;
  border-radius: 25px;
}
.loginsignup-container button {
  width: 580px;
  height: 72px;
  color: #161616;
  background-color: #ddff36;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 25px;
}
.loginsignup-login {
  margin-top: 20px;
  font-size: 18px;
}
.loginsignup-login span {
  color: #ddff36;
}
.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: white;
  font-size: 18px;
}
@media (max-width: 1280px) {
  .loginsignup {
    padding-top: 50px;
  }
  .loginsignup-container {
    width: auto;
    max-width: 500px;
    max-height: 500px;
  }
  .loginsignup-container h1 {
    margin: 10px 0px;
  }
  .loginsignup-fields {
    gap: 20px;
    margin-top: 20px;
  }
  .loginsignup-fields input {
    height: 65px;
    width: 93%;
  }
  .loginsignup-container button {
    width: 100%;
  }
  .loginsignup-login {
    font-size: 16px;
  }
  .loginsignup-agree {
    font-size: 14px;
    gap: 10px;
  }
}
@media (max-width: 800px) {
  .loginsignup-container {
    padding: 20px 30px;
  }
  .loginsignup-container h1 {
    font-size: 24px;
  }
  .loginsignup-fields {
    margin-top: 20px;
  }
  .loginsignup-fields input {
    height: 50px;
  }
  .loginsignup-container button {
    height: 50px;
    font-size: 16px;
  }
}
